.vs/
*.user
*.suo
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.nupkg
*.snupkg
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets
appsettings.Development.json
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/